.DS_Store
__pycache__
*venv
/hdf5
/src/wsts/wispr
/src/wsts/lightning_logs
/src/wsts/wandb
/src/wsts/predictions_output/*.png
/src/wsts/predictions_output
/src/wsts/inference_visualization
/src/wsts/inference_visualization/*.png
/backend/resources
src/wsts/table2_eval_domain_adversarial

**/*.env
**/*.local.env

*.ckpt
*.sh

**/ssl/
*.log
*.out
.vscode
